APP_ENV=dev
PORT=3000
COOKIE_SECRET=BAk9EXSagjRHDM88Fw8KeQ
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
DB_HOST=postgres
DB_PORT=5432
DB_NAME=vendure
DB_USERNAME=vendure
DB_PASSWORD=Y4Ap5qRu6OqlDvLOCmKtPg
DB_SCHEMA=public
